In [1]:
import pandas as pd

In [5]:
#data_iris=pd.read_csv(r"C:\Users\Mohan Patil\Datascience\Datasets\Iris_data_sample.csv")

In [13]:
data_iris.head()

  SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm      Species
1           5.1           3.5           1.4           0.2  Iris-setosa
2           4.9           NaN           1.4           0.2          NaN
3           4.7           3.2           1.3           0.2  Iris-setosa
4            ??           3.1           1.5           0.2  Iris-setosa
5             5           3.6           ###           0.2  Iris-setosa

In [12]:
data_iris=pd.read_csv("../Mohan Patil/Datascience/Datasets/Iris_data_sample.csv",index_col=0)

In [9]:
data_iris.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
data_iris.describe()

       Unnamed: 0  SepalWidthCm  PetalWidthCm
count  150.000000    149.000000    150.000000
mean    75.500000      3.054362      1.198667
std     43.445368      0.435034      0.763161
min      1.000000      2.000000      0.100000
25%     38.250000      2.800000      0.300000
50%     75.500000      3.000000      1.300000
75%    112.750000      3.300000      1.800000
max    150.000000      4.400000      2.500000

In [18]:
data_iris.value_counts()

SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
4.9            3.1           1.5            0.1           Iris-setosa        3
5.8            2.7           5.1            1.9           Iris-virginica     2
4.3            3.0           1.1            0.1           Iris-setosa        1
6.3            3.3           6              2.5           Iris-virginica     1
               2.5           4.9            1.5           Iris-versicolor    1
                                                                            ..
5.5            2.4           3.8            1.1           Iris-versicolor    1
               2.5           4              1.3           Iris-versicolor    1
               2.6           4.4            1.2           Iris-versicolor    1
               3.5           1.3            0.2           Iris-setosa        1
??             3.1           1.5            0.2           Iris-setosa        1
Length: 145, dtype: int64

In [ ]:
data